.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    justify-content: space-around;

    .formLeft {
        .flexSB {
            justify-content: space-between;
        }

        .formInput {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 10px;
            width: 100%;
            margin-bottom: 20px;

            b {color: green;}
            p {
                border-bottom: 2px solid green;
                padding-bottom: 5px;
                margin-top: 5px;
            }

            .lh2 {
                line-height: 2;
            }

            label {
                font-weight: 600;
            }

            input {
                width: 100%;
                padding: 5px;
                border: none;
                border-bottom: 1px solid gray;
            }

        }

    }   
}
